@charset "UTF-8";

header {
  margin-top: 20px;
}

.container {
  width: 920px;
  margin: 0 auto 40px auto;
  display: block;
  clear: both;
  content: " ";
}

.header-title-area {
  margin-top: 40px;
  margin-bottom: 30px;
}

.logo {
  font-size: 32px;
}

.text-sub {
  color: #777;
}

.text-title {
  padding-left: 15px;
}

.header-navigation {
  width: 100%;
  background-color: #fff;
  padding: 20px 0;
  margin-bottom: 5px;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navigation li {
  float: left;
  padding: 0 20px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #333;
  text-decoration: none;
}

.left-contents {
  width: 60%;
  margin-right: 15px;
  float: left;
  background-color: #fff;
  padding: 20px 0;
}

.right-contents {
  width: 30%;
  float: left;
  background-color: #fff;
  padding: 20px 0;
}

.product-list-area:after {
  clear: both;
  display: block;
  content: " ";
}

.product-list {
  width: 150px;
  margin: 5px;
  float: left;
}

.product-list:after {
  clear: both;
  display: block;
  content: " ";
}

.product-image {
  margin-bottom: 5px;
  width: 150px;
  height: 150px;
  display: block;
}

.product-name {
  text-align: center;
}

.product-price {
  text-align: left;
  margin-left: 10px;
  float: left;
}

.num_text {
  width: 25px;
  margin-left: 20px;
  float: left;
}

.information-list {
  clear: both;
  list-style-type: none;
  padding-left: 5px;
}

.information-list li {
  margin-bottom: 5px;
}

.btn-left {
  margin-left: 30px;
}

.hover {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.hover::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #2196F3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hover:hover {
  cursor: pointer;
}

.hover:hover::after {
  width: 100%;
}

